# Dependency directories
node_modules/

# Coverage directory used by istanbul
.nyc_output/
coverage/

# Locks
package-lock.json
npm-shrinkwrap.json
yarn.lock

# Logs
*.log*

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
